.gitignore
.ipynb_checkpoints/
gg_13_5.fasta
gg_13_5.sql
gg_13_5_00CHANGELOG
gg_13_5_00README
gg_13_5_00ROADMAP
gg_13_5_00STATS
gg_13_5_accessions.txt
gg_13_5_chimeras.txt
gg_13_5_img.txt
gg_13_5_otus.tar
gg_13_5_otus/
gg_13_5_otus_99_annotated.tree
gg_13_5_pynast.fasta
gg_13_5_ssualign.fasta
gg_13_5_taxonomy.txt
ggmap.egg-info/
Blast/
Metaphlan/
NCBItaxonomy/
data.pkl
data_backup.pkl
__pycache__/
ggmap/__pycache__/
ggmap/test/__pycache__/
Presentation/
codeReview.ipynb
ete3/
help_all/
help_part/
test.newick
test2.txt
test_sys.ipynb
