nose
pep8
flake8
scikit-bio>=0.5.4
click
pandas
biom-format>=2.1.7
basemap
matplotlib>=3.1.1
seaborn
numpy
xlrd
pillow
networkx
basemap
basemap-data-hires
yaml
pyyaml
scikit-learn
h5py
fuzzywuzzy
lxml
openpyxl
# from local git: trevismd/statannotations
# from local git: webermarcolivier/statannot
